#App {
  background-image: url('./assets/background.png');
  background-position-x: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Content {
  min-width: 300px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: white;
  display: block;
}

.header {
  margin-top: 8px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#Content table {
  border-collapse: separate;
  border-spacing: 0px 6px;
  margin: 8px;
  width: calc(100% - 16px);
}

.radio-margin {
  margin: 3px 3px 0px 0px;
}

.tw-100 {
  width: calc(100% - 8px);
}
